<!DOCTYPE html>
<html lang="pl">

<head>
  <link rel="stylesheet" href="<%= url %>static/katex/katex.min.css">
  <!-- <script defer src="<%= url %>static/katex/katex.min.js"></script>
  <script src="<%= url %>static/marked/marked.min.js"></script>
  <script defer src="<%= url %>static/marked/lib/marked.umd.js"></script>
  <script defer src="<%= url %>static/katex/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script> -->
  <!-- <link rel="stylesheet" href="<%= url %>static/style.css"> -->
  <!-- <link rel="stylesheet" href="<%= url %>static/style-g.css"> -->
  <link rel="stylesheet" href="<%= url %>static/mainstyles.css">
  <link rel="stylesheet" href="<%= url %>static/lessonstyle.css">
  <title>Edytor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
</head>

<body>
  <div style="display: none" id="tooltip" label-Medium></div>
  <div class="header">
    <span title-large>
      <a class="no-decoration" href="../../">
        <span class="MDI">
          <%= mi('arrow-left') %>
        </span>

      </a>
      Podgląd lekcji
    </span>

    <div class="right-group">
      <span title-small>
        Zalogowano jako
        <b style="color: var(--md-sys-color-primary)">
          <%= account.name %>
        </b>
      </span>
      <span class="MDI" title="Pomoc" headline-small>
        <%= mi('help-circle-outline') %>
      </span>
      <!-- <button class="submint" onclick="sendChanges()">
        <span class="MDI">
          <%= mi('file-send') %>
        </span>
        Zapisz
      </button> -->
    </div>
  </div>
  <div class="main">
    <div class="leftside-wrapper">
      <div class="search-wrapper">
        <input type="text" id="input" placeholder="Szukaj" onchange="search()">
        <button class="MDI">
          <%= mi('magnify') %>
        </button>
      </div>
      <div class="lesson">
        <span headline-medium>
          <%= lesson.topic %>
        </span>
        <div class="details">
          <span title-medium>
            <%= lesson.realStartDate %>
          </span>
          <span class="timeandauthor" title-small>
            Dodane <%= timeAgo.format(lesson.updateDate * 1000) %> przez <%= persons[lesson.addedBy].name %>
          </span>
        </div>
        <div class="wrapper contents">
          <div class="inline-flex"  style="gap: 8px; margin: 4px;">
            <button class="outline" onclick="addNote()">
              <span class="MDI">
                <%= mi('file-document-plus-outline') %>
              </span>
              Dodaj notatke
            </button>
            <button class="outline" onclick="addExercise()">
              <span class="MDI">
                <%= mi('shape-plus') %>
              </span>
              Dodaj zadanie
            </button>
          </div>
          <div class="contents">
            <% lesson.notes.forEach((note, i)=> { %>
              <div class="content">
                <div class="icon-wrapper">
                  <a href="../../n/<%= i %>" class="MDI no-decoration" title-large>
                    <%= mi('file-document-outline') %>
                  </a>
                </div>
                <div class="right">
                  <span class="timeandauthor" label-medium>
                    Dodane <%= timeAgo.format(note.updateDate * 1000) %> przez <%= persons[note.addedBy].name %>
                  </span>
                  <span class="realdate" title-medium>
                    <%= note.realDate %>
                  </span>
                </div>
                <div class="icon-wrapper teritary">
                  <a href="../../edit/note/<%= i %>" class="MDI no-decoration" title-large>
                    <%= mi('pencil') %>
                  </a>
                </div>
              </div>
              <% }) %>
                <% lesson.exercises.forEach((exercise, i)=> { %>
                  <div class="content">
                    <div class="icon-wrapper">
                      <a href="../../e/<%= i %>" class="MDI no-decoration" title-large>
                        <%= mi('shape') %>
                      </a>
                    </div>
                    <div class="right">
                      <span class="timeandauthor" label-medium>
                        Dodane <%= timeAgo.format(exercise.updateDate * 1000) %> przez <%=
                            persons[exercise.addedBy].name%>
                      </span>
                      <span class="realdate" title-medium>
                        <%= exercise.reference %>
                      </span>
                    </div>
                    <div class="icon-wrapper teritary">
                      <a href="../../edit/exercise/<%= i %>" class="MDI no-decoration" title-large>
                        <%= mi('pencil') %>
                      </a>
                    </div>
                  </div>
                  <% }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="rightside-wrapper">
      <div class="note-info">
        <span title-large>
          <%= selectedNote.realDate %>
        </span>
        
        <span label-medium class="note-details">
          Napisane przez <%= persons[selectedNote.addedBy].name %> <%= timeAgo.format( selectedNote.updateDate * 1000) %>
        </span>
      </div>
      <span class="title" label-large>
        <span class="MDI" body-large>
          <%= mi('file-document-outline') %>
        </span>
        Zawartość notatki
      </span>
      <div id="rightside-content">
          <%- renderedContent %>
      </div>
    </div>

  </div>
  <script>
    function addNote(){
      document.location = "../add/note";
    }
    function addExercise(){
      document.location = "../add/exercise";
    }
  </script>
</body>

</html>